#header-top {
  background-color: $gray;
  color: $white;
  font-size: rem-calc(11);
  font-weight: bold;
  height: rem-calc(30);
  line-height: rem-calc(30);
  text-align: right;
  text-transform: uppercase;
  a {
    color: $white;
  }
  ul {
    font-size: smaller;
  }
}
