#header-top {
  background-color: $gray;
  color: $white;
  font-size: rem-calc(11);
  font-weight: bold;
  height: rem-calc(30);
  line-height: rem-calc(30);
  text-align: right;
  text-transform: uppercase;
  a {
    color: $white;
  }
  .block {
    float: right;
    margin-left: rem-calc(22);
  }
  .menu {
    @include inline-list;
    font-size: rem-calc(11);
    height: rem-calc(30);
    line-height: rem-calc(30);
    margin: 0;
  }
}
